@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.content{
  font-family: 'Poppins', sans-serif;
}

.content i{
  color: red;
}

.footer{
  display: block;
  text-align: center;
}
